h1 {
  font-size: 5em;
  margin: 0;
  color: var(--primary-text-color);
}

h2 {
  font-size: 3em;
  margin: 0;
  color: var(--secondary-text-color);
}

h3 {
  font-size: 2em;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

main > article {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main > article:first-child > section {
  width: 50em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main > article:not(:first-child) > section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5em 1em;
  box-sizing: border-box;

  gap: 1em;
}

h3 {
  width: 600px;
  text-align: center;
}

main > article:not(:first-child) > section > p {
  width: 600px;
  text-align: justify;
}

main > article:not(:first-child) > section:nth-child(odd) {
  background-color: rgb(83, 58, 47);
  color: white;
}

.start-playing-button {
  font-size: 2em;
  font-weight: 800;
  margin-top: 2em;
}
